@tailwind base;
@tailwind components;
@tailwind utilities;
.cta {
  background-image: url('./images/bg-boost-desktop.svg');
  background-repeat: no-repeat;
  background-size: cover;
}
@media (min-width: 1020px) {
  .bg-hero {
    width: 2000px;
    height: 300px;
    left: 30%;
    @apply absolute rounded-l-full top-52 bg-blue-600;
  }
}
@media (min-width: 1020px) {
  .bg-tab {
    width: 2000px;
    height: 300px;
    right: 40%;
    @apply absolute rounded-r-full top-52 bg-blue-600;
  }
}
